
.carrossel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 800px;    
  height: 450px;  
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background-color: #000; 
}

.carrossel-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}
.img{
  width: 50%;
  height: auto;
}