@import url("./style.css");


.texto-destaque {
  text-align: center;
  background: linear-gradient(135deg, #26406e, #112240);
  color: #fff;
  padding: 50px 20px;
  border-bottom: 3px solid #0056b3;
  transition: 0.4s;
}

.texto-destaque h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.texto-destaque p {
  font-size: 1.1rem;
  opacity: 0.95;
}


.compra-container {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
  transition: 0.4s;
}

.compra-bloco {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
  padding: 40px 35px;
  max-width: 550px;
  width: 100%;
  transition: 0.3s;
}

.compra-bloco:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
}

.compra-bloco h3 {
  text-align: center;
  color: #112240;
  font-size: 1.5rem;
  margin-bottom: 20px;
  border-bottom: 2px solid #00bfff;
  display: inline-block;
  padding-bottom: 5px;
}


.form-compras label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
  color: #111;
}

.form-compras,
.form-compras select,
.form-compras textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-compras input:focus,
.form-compras select:focus,
.form-compras textarea:focus {
  border-color: #00bfff;
  box-shadow: 0 0 6px rgba(0, 191, 255, 0.5);
  outline: none;
}

.opcoes-pagamento {
  font-size: 1px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.opcoes-pagamento label {
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}



.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 35px;
  margin-top: 25px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

