@import url("./style.css");


main {
  background: linear-gradient(135deg, #f0f2ff 0%, #dcdcff 100%);
  color: #111;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 40px 10%;
}

.dark-mode h1 {
  color: #00bfff;
}

h2 {
  margin-top: 40px;
  font-size: 1.8rem;
  color: #222;
  font-weight: 600;
}

.dark-mode h2 {
  color: #00bfff;
}

ul {
  text-align: left;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 1.1rem;
  line-height: 1.7;
}

ul li {
  margin: 10px 0;
}


p {
  max-width: 900px;
  margin: 15px auto;
  font-size: 1.05rem;
  line-height: 1.7;
  color: #333;
}

.dark-mode p {
  color: #d0d0d0;
}


.botoes {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.botoes a,
.botoes button {
  text-decoration: none;
  background-color: #00bfff;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.btn {
  display: block;
  margin: 30px auto 0 auto;
  text-align: center;
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background-color: #112240;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  transition: background 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #112240;
  transform: scale(1.05);
}

.dark-mode .botoes a,
.dark-mode .botoes button {
  background-color: #007bff;
  color: #fff;
}

.dark-mode .botoes a:hover,
.dark-mode .botoes button:hover {
  background-color: #005fcc;
}