
footer {
  background-color: #112240;
  color: #e0e0e0;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
  transition: 0.4s;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  
}

.footer-section {
  flex: 1 1 200px;
  margin: 10px;
}

.footer-section h3, p {
  color: #00bfff;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 15px;
  line-height: 1.5;
}

.social-icons a {
  color: #00bfff;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 0;
  transition: 0.3s;
}

.social-icons a i {
  margin-right: 6px;
}

.social-icons a:hover {
  color: #fff;
  transform: scale(1.1);
}

.footer-bottom {
  border-top: 1px solid #00bfff;
  padding-top: 10px;
  font-size: 14px;
  color: #aaa;
}

footer p {
  color: #00bfff;
}